<!DOCTYPE html>
<html lang="en-US" dir="ltr">
    <head>
        <meta charset="utf-8" />
        {% if title %}
            <title>{{ title }} </title>
        {% endif %}
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        {% block styles %}{% endblock %}
    </head>
    <body>
        <main id="append" class="container">
                {% block head %}{% endblock %}
                {% block content %}{% endblock %}
        </main>
        {% block scripts %}{% endblock %}
    </body>
</html>
