{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="/assets/styles/index.css" />
        <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="/assets/styles/mobile.css" />
    <link href='https://fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Orbitron:500' rel='stylesheet' type='text/css'>
{% endblock %}

<div id="main-section">
{% block head %}
    <h1><span class=" glyphicon glyphicon-modal-window" aria-hidden="true"></span><span class="white-text">MORALIT</span><span class="ai">.ai</span></h1>
{% endblock %}

{% block content %}
<div id="description">
 Using API.io, blah blah kanitan ethics blah blah
</div>
<div id="chat-section">
</div> <!-- chat section -->


</div> <!-- main section -->
{% block scripts %}
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
        <script src="/assets/js/init.js"></script>
{% endblock %}
{% endblock %}

