fieldset {
    padding: 0 10px;
    margin: 0 0 15px;
}

.field, .field textarea {
    display: block;
}

.field {
    margin: 15px 0;
}

.field textarea {
    margin: 5px 0 0;
}

#background input[type="text"] {
    display: block;
}

.url {
    margin-left: 5px;
    width: 50em;
}

.hidden {
    visibility: hidden;
}

input[type="submit"] {
    font-size: 1.1em;
}

#status ul, #results ul {
    padding-left: 0;
}

#status h1 {
    margin-top: 0;
}

#status ul {
    list-style-type: none;
}

#results ul {
    list-style-position: inside;
}

.user-request-wrapper {
    display: table;
    width: 100%;
    margin-bottom: 5%;
}

.container {
    text-align: center;
}

#chat-section {
    margin-top: 2%;
}

.chip {
    min-height: 32px;
    display: table-row;
    float: right;
    height: auto;
    max-width: 50%;
    display: none;
    box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
}

.btn {
    width: 100%;
    background-color: #86577C !important;
}

.btn:hover {
    background-color: #86577C !important;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #86577C;
    box-shadow: 0 1px 0 0 #86577C;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    background-color: initial !important;
}

.ai-chip {
    float: left !important;
    background-color: darkgray;
}

body {
    background-color: #494B59;
    color: white;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

input {
    color: white;
}

h1 {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 8rem;
    margin-top: 0 !important;
}

input[type="text"]
{
    font-size:2em;
}

main {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.ai{
    font-family: 'Orbitron', sans-serif !important;
    color: #86577C;
}

#chat-section {
    height: 60%;
    max-height: 60%;
    overflow-y: scroll;
}


input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: initial !important;
    background-image: none;
    color: rgb(0, 0, 0);
}