fieldset {
    padding: 0 10px;
    margin: 0 0 15px;
}

.field, .field textarea {
    display: block;
}

.field {
    margin: 15px 0;
}

.field textarea {
    margin: 5px 0 0;
}

#background input[type="text"] {
    display: block;
}

.url {
    margin-left: 5px;
    width: 50em;
}

.hidden {
    visibility: hidden;
}

input[type="submit"] {
    font-size: 1.1em;
}

#status ul, #results ul {
    padding-left: 0;
}

#status h1 {
    margin-top: 0;
}

#status ul {
    list-style-type: none;
}

#results ul {
    list-style-position: inside;
}

.user-request-wrapper {
    display: table;
    width: 100%;
    margin-bottom: 5%;
}

.container {
    text-align: center;
}

.chip {
    min-height: 32px;
    display: table-row;
    float: right;
}

h1 {
    margin-top: 0 !important;
}

.ai-chip {
    float: left !important;
}

main {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

#chat-section {
    height: 600px;
    max-height: 600px;
    overflow-y: scroll;
}